body {
    font-family:arial,sans-serif;
    margin: 0;
    padding: 0;
    text-align:center;
}
header {
    background-color: #5bcf95;
    color: rgb(24, 20, 20);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #63d1b0;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-link:hover {
    background-color: #0056b3;
}

section{
    padding: 20px;
    margin: 20px;
    background-color: #f3f3f3;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(74, 206, 162, 0.959);
}

